# SET UP

El mini proyecto esta enfocado en presentar tres metodos para contruir perfiles. En este caso particular de abandono de clientes, pero se pueden aplicar a cualquier proyecto de la misma indole.

Pienso que este tipo de proyectos son un excelente ejemplo del potencia que tiene la ciencia de datos. El motivo es simple, al crear perfiles basados en los datos podemos impulsar la toma de decisiones en la direccion correcta. En este caso, como atacar el abandono de clientes indentificando el porque abandonan los servivios del banco y que se puede hacer para prolongar su estadia.

Los metodos que voy a mostrar son los siguientes: crear un perfil apartir de la visualizacion y analisis de los datos, identificar cuales son las caracteristicas de abandono al aplicar algoritmo K-Means, y por ultimo al extraer las variables de interes que utiliza un algoritmo de clasificacion al aplicarlo sobre el dataset.

## IMPORTAR PAQUETES

In [1]:
import os
import numpy as np
import pandas as pd

%config IPCompleter.greedy=True

## CREAR EL DIRECTORIO DEL PROYECTO

### Definir el directorio raiz donde vamos a crear el proyecto

In [10]:
raiz = 'C:/Users/matia/OneDrive/Escritorio/'

### Definir el nombre del proyecto

In [11]:
nombre_dir = 'Churn_Bank'

### Crear el directorio y la estructura del proyecto

In [12]:
path = raiz + nombre_dir

In [5]:
try:
     os.mkdir(path)
     os.mkdir(path + '/01_Documentos')
     os.mkdir(path + '/02_Datos')
     os.mkdir(path + '/02_Datos/01_Originales')
     os.mkdir(path + '/02_Datos/02_Validacion')
     os.mkdir(path + '/02_Datos/03_Trabajo')
     os.mkdir(path + '/02_Datos/04_Caches')
     os.mkdir(path + '/03_Notebooks')
     os.mkdir(path + '/03_Notebooks/01_Funciones')
     os.mkdir(path + '/03_Notebooks/02_Desarrollo')
     os.mkdir(path + '/03_Notebooks/03_Sistema')
     os.mkdir(path + '/04_Modelos')
     os.mkdir(path + '/05_Resultados')
     os.mkdir(path + '/09_Otros')
    
except OSError:
     print ("La creaci√≥n del directorio %s ha fallado" % path)
else:
     print ("Se ha creado satisfactoriamente el directorio %s " % path)

Se ha creado satisfactoriamente el directorio C:/Users/matia/OneDrive/Escritorio/Churn_Bank

Entrega un error dado que el directorio ya esta creado.

### Situar el directorio de trabajo en el proyecto

In [13]:
os.chdir(path)

### Mover el environment.yml

Buscar manualmente el archivo riesgos.yml, que posiblemente lo haya ubicado en C:\Users\tu_usuario y moverlo a la carpeta /01_Documentos'

## CREAR LOS DATASETS INICIALES

Poner los datos originales en la carpeta '/02_Datos/01_Originales'

### Importar los datos

Sustituir el nombre_fichero_datos.

In [14]:
nombre_fichero_datos = 'churn.csv'

Cargar los datos.

In [15]:
ruta_completa = path + '/02_Datos/01_Originales/' + nombre_fichero_datos

datos = pd.read_csv(ruta_completa)
datos

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

El numero de registro se encuentra dentro de los rangos adecuados para entrenar los algoritmos que se van a utilizar. Sin embargo, tambien existe la posibilidad de extraer una muestra si se estima conveniente.

### Extraer y guardar el dataset de trabajo

In [16]:
trabajo = datos

In [17]:
nombre_fichero_trabajo = 'trabajo.csv'

ruta_completa = path + '/02_Datos/03_Trabajo/' + nombre_fichero_trabajo

trabajo.to_csv(ruta_completa)